<!DOCTYPE html>
<p><a href="/home">Home</a>     <a href="/upload">Upload Images</a>     <a href="/view-images">View Uploaded Images</a> <a href="/logout">Logout</a></p>
<html>
    <head>
        <title>Recover Password</title>
    </head>


      <body>
        <h1>Forgot Password</h1>
         <form action="{{url_for('change_password')}}" method="post">
             <h3>Enter existing password and new password below</h3>
            Existing Password<input type="password" name="password1"><br>
            New Password<input type="password" name="password2"><br>
        <input type="submit" value="Change Password" name="change">
        </form>
        <div class='error'>{{error_msg if error_msg != None}}</div>
    </body>
</html>