<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Recover Password</title>
    </head>


      <body>
        <h1>Forgot Password</h1>
         <form action="{{url_for('forgot_password')}}" method="post">
             <h3>Enter username for account to recover password</h3>
             Username<input type="text" name="username"><br>
        <input type="submit" value="Recover Password" name="recover">
        <input type="submit" value="Return to Login" name="login-page" />
        </form>
        <div class='error'>{{error_msg if error_msg != None}}</div>
    </body>
</html>