<html>
    <head>
    </head>
      <body>
        <h1>Change Forgotten Password</h1>
         <form action="{{url_for('recover_password')}}" method="post">
             <h3>Enter username and emailed recovery code.</h3>
             Username<input type="text" name="username"><br>
             Recovery Code<input type="text" name="code"><br>
             New Password<input type="password" name="password"
        <input type="submit" value="Change Password" name="recover">
        </form>
        <div class='error'>{{error_msg if error_msg != None}}</div>
    </body>
</html>