<!DOCTYPE html>
<html>
<p><a href="/home">Home</a>     <a href="/upload">Upload Images</a>     <a href="/view-images">View Uploaded Images</a> <a href="/logout">Logout</a></p>

<body>

<h1>See Uploaded Image Below</h1>

<div>
<img src="{{url_for('static', filename=imagename)}}" />

<div>
    <img src="{{url_for('static', filename=blur)}}" />
</div>
</div>
<div>
    <img src="{{url_for('static', filename=shade)}}"/>
</div>
<div>
    <img src="{{url_for('static', filename=spread)}}"/>
</div> 
</body>
</html>

